<%- include ../../partials/header.ejs %> 
<%- include ../../partials/homenavbar.ejs%>
<body>
  <header class="masthead" style="background-image: url('img/about-bg.jpg')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>Sobre Mim...</h1>
            <span class="subheading">Blog Painel</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <p>Eu sou <strong>Eduardo Pedro</strong></p>
        <p>Programador e desenvolvedor web - Back-end, em Node.js e Java Spring MVC, apaxionado por tecnologia!</p>
        <strong>Projetos Pronto</strong>
        <p><b>ContruirAgora</b> - Desenvolvidor em PHP, projeto do primeiro periodo no IFPE, é um site para armazem de bairro o intuito é ajuda a administrar os produtos online</p>
        <p><b>ProfessorPerfeito</b> - Desenvolvidor em JAVA, projeto do segundo periodo no IFPE, esse site facilitar os professores a divulgar seus serviços</p>
        <p><b>PerguntasRespostas</b> - Desenvolvidor em Nodejs, projeto para adquirir conhecimento na liguagem, site simples para perguntas e respostas, parecido com yahoo</p>
        <p><b>BlogPainel</b> - Desenvolvidor em Nodejs, projeto para adquirir conhecimento na liguagem, é um blog com painel administrativo</p>
      </div>
    </div>
  </div>

  <hr>

</body>
<%- include ../../partials/footer.ejs %>

