<%- include ../../partials/header.ejs %>
<%- include ../../partials/homenavbar.ejs %>

<body>
  <header class="masthead" style="background-image: url('img/contact-bg.jpg')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>Contate-Me</h1>
            <span class="subheading">Qual a sua perguntar?</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <p>
          Quer entrar em contato? Preencha o formulário abaixo para me enviar uma mensagem e retornaremos o mais breve possível!</p>
        <form action="/contact/save" name="sentMessage" id="contactForm" novalidate method="POST">
          <div class="control-group">
            <div class="form-group floating-label-form-group controls">
              <label>Nome</label>
              <input type="text" class="form-control" placeholder="Nome" id="name" name="name" required
                data-validation-required-message="Por favor, insira seu nome.">
              <p class="help-block text-danger"></p>
            </div>
          </div>
          <div class="control-group">
            <div class="form-group floating-label-form-group controls">
              <label>Email</label>
              <input type="email" class="form-control" placeholder="Email" id="email" name="email" required
                data-validation-required-message="Por favor, insira seu email address.">
              <p class="help-block text-danger"></p>
            </div>
          </div>
          <div class="control-group">
            <div class="form-group col-xs-12 floating-label-form-group controls">
              <label>Telefone</label>
              <input type="tel" class="form-control" placeholder="Telefone" id="phone" name="phone" required
                data-validation-required-message="Por favor, insira seu Telefone.">
              <p class="help-block text-danger"></p>
            </div>
          </div>
          <div class="control-group">
            <div class="form-group floating-label-form-group controls">
              <label>Mensagem:</label>
              <textarea rows="5" class="form-control" placeholder="Mensagem" id="message" name="message" required
                data-validation-required-message="Por favor, digite uma mensagem."></textarea>
              <p class="help-block text-danger"></p>
            </div>
          </div>
          <br>
          <div id="success"></div>
          <div class="form-group">
            <button type="submit" class="btn btn-primary" id="sendMessageButton">Enviar</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <hr>
</body>

<%- include ../../partials/footer.ejs %>