<%- include ../../partials/header.ejs %>
<%- include ../../partials/homenavbar.ejs %>

<body>
  <header class="masthead" style="background-image: url('img/contact-bg.jpg')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>Obrigado!</h1>
            <span class="subheading">Mensagem enviada com sucesso!</span>
          </div>
        </div>
      </div>
    </div>
  </header> 
  <hr>
</body>

<%- include ../../partials/footer.ejs %>